body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  header {
    background-color:dodgerblue;
    margin: 0 auto;
    height: 70px;
    text-align: center;
    text-justify: auto;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }

  .big-container {
    display: flex;
    flex-direction: column;
  }

  .battle-container{
    margin: 0 auto; 
  }
  
  main {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.enemy-card, div.hero-card {
    margin-bottom: 20px;
    height: 300px;
    width: 250px;
    box-shadow: 10px 10px rgb(75, 74, 69);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  div.enemy-card {
    background-color: #ac7b7b;
    box-shadow: 10px 10px rgb(58, 51, 51);
  }

  div.hero-card {
    background-color: #fff4b6;
    box-shadow: 10px 10px rgb(95, 94, 81);
  }

  div.hero-card > img, div.enemy-card > img {
    height: 100px;
    width: 100px;
  }

  form {
    background-color: #fff8cd;
    
    width: 250px;
    box-shadow: 10px 10px grey;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
  }
  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }

  .sidebar {
      width: 300px;
      background-color: rgb(158, 185, 178);
      padding: 20px;
      position: fixed;
      top: 70px;
      margin-left: 10%;
      height: 100vh;
  }

  .right-bar {
    width: 300px;
    background-color: rgb(158, 185, 178);
    padding: 20px;
    position: fixed;
    top: 70px;
    right: 10%;
    height: 100vh;
  }

  .sidebar-enemy-image {
    max-height: 32px;
    max-width: 32px;
  }
  
  button {
    font-size: .75em;
    block-size: 30px;
    color: #fff;
    background-color: rgb(0, 29, 158);
    border-radius: 5px;
    margin: 0 .5em;
  }

  button:disabled, button[disabled]{
    background-color: rgba(50, 57, 88, 0.322);
    color: rgb(156, 152, 152);
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

  
/* The hero-damage - position it at the bottom and in the middle of the screen */
#hero-damage, #enemy-damage {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(51, 51, 51, 0); /* Black background color */
  color: rgb(255, 0, 0); /* White text color */
  text-align: center; /* Centered text */
  position: fixed; /* Sit on top of the screen */
  z-index: 5; /* Add a z-index if needed */
  font-size: 32pt;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#hero-damage {
  left: 50%; /* Center the hero-damage */
  top: 23%; 
}

#enemy-damage {
  left: 50%; 
  top: 58%; 
}

/* Show the hero-damage when clicking on a button (class added with JavaScript) */
#hero-damage.show{
  visibility: visible; /* Show the hero-damage */
  /* Add animation: Take 0.5 seconds to fade in and out the hero-damage.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1;
  animation: fadein 0.5s, fadeout 0.5s 1s;
}

#enemy-damage.show {
  visibility: visible; 
  -webkit-animation: efadein 0.5s, efadeout 0.5s 1;
  animation: efadein 0.5s, efadeout 0.5s 1s;
}

/* Animations to fade the damage in and out */
@-webkit-keyframes fadein {
  from {top: 30%; opacity: 0;}
  to {top: 23%; opacity: 1;}
}

@keyframes fadein {
  from {top: 30%; opacity: 0;}
  to {top: 23%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 23%; opacity: 1;}
  to {top: 20%; opacity: 0;}
}

@keyframes fadeout {
  from {top: 23%; opacity: 1;}
  to {top: 20%; opacity: 0;}
}

/* Animations to fade the damage in and out */
@-webkit-keyframes efadein {
  from {top: 65%; opacity: 0;}
  to {top: 58%; opacity: 1;}
}

@keyframes efadein {
  from {top: 65%; opacity: 0;}
  to {top: 58%; opacity: 1;}
}

@-webkit-keyframes efadeout {
  from {top: 58%; opacity: 1;}
  to {top: 53%; opacity: 0;}
}

@keyframes efadeout {
  from {top: 58%; opacity: 1;}
  to {top: 53%; opacity: 0;}
}

#hero-avatar-image{
  height: 75px;
  width: 75px;
}